:root{
    --background-color: #2f323a;
    --text-color: #a6a7aa;
    --white-color: #f8f8f8;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --accent-color: #007be2;
    --light-accent-color: #1ca8dc;
    --accent2-color: #5a33f0;
    --light-accent2-color: rgb(156, 130, 248, .2);
    --light-accent2-color-op: rgb(156, 130, 248);
    
}
a{
    color: var(--light-accent-color);
}

#title{
    color: var(--light-accent-color);
    text-shadow: 3px 3px 3px var(--shadow-color);
    position: relative;
    left: 50%;
    width: fit-content;
    transform: translateX(-50%);
    text-align: center;
    padding-bottom:2%;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12.5px;
}
#grid-container{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: auto;
    grid-gap: 40px;
    position: relative;
    justify-content: center;
    justify-items: center;
    margin: auto;
}

#content-container{
    position: relative;
    justify-content: center;
    justify-items: center;
    margin: auto;
    padding: 0 4% 10% 4%;
    max-width: 800px;
    line-height: 1.3em;
}

*{
    box-sizing: border-box; 
    /* border: 1px solid red; */
}
.tracker{
    width: 100%;
    border: 1px solid var(--accent2-color);
    border-radius: 50%;
    background-color: var(--light-accent2-color);
    padding: 20px;
    text-align: center;
    box-shadow: 5px 5px 5px var(--shadow-color);
}

.streak-days{
    color: var(--light-accent-color);
    display: block;
    font-size: 1.7rem;

}
.streak-activity{
    color: var(--accent-color);
    display: block;
    font-size: .9rem;
    margin: 5px;
}

#nav{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
    margin-bottom: 5%;
    font-size: 1.2rem;
    background-image: linear-gradient(to right, var(--light-accent-color), var(--light-accent2-color-op));
    box-shadow: 5px 5px 5px var(--shadow-color);;
}
.nav-item a{
    color: #000;
    text-decoration: none;
}
li {
    padding-bottom: 1em;
}
